
  <div class="card" *ngFor="let item of urun">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{item.isletmeler.isletmeIsim}}</mat-card-title>
      <mat-card-subtitle>
        {{item.isletmeler.kategori}} <br>
        {{item.isletmeler.adres}} <br>{{item.isletmeler.TelNo}}
      </mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <strong>
      {{item.aracmarka}}
      </strong><br><br>
        <p>Ürün Markası: {{item.marka}}</p>
        <p>Ürün Adı: {{item.urunisim}}</p>
        <p>Durum: {{item.durum}}</p>
      <p>Ürün Fiyatı: {{item.ucret}}</p><br>
    
    </mat-card-content>
    <mat-card-actions >
     <!-- <button mat-button style="width: 300px;background-color:rgb(189, 44, 44);color:white">Favorilerime Ekle </button> -->
     <button mat-flat-button color="warn"  style="width: 250px;margin-bottom: 7px;" (click)="this.urunSil(item.urunId)">Ürünü Kaldır
    </button>
    <button mat-flat-button color="accent" style="width: 250px;"  > Güncelle
    </button> 
    </mat-card-actions>
  </mat-card>
  </div>