<mat-carousel class="col-md-8"
timings="250ms ease-in"
[autoplay]="true"
[interval]=5000
color="accent"
maxWidth="auto"

[proportion]=35
[slides]=5
[loop]="true"
[hideArrows]="false"
[hideIndicators]="false"
[useKeyboard]="true"
[useMouseWheel]="false"
orientation="ltr"
>
<mat-carousel-slide  style="object-fit: fill;"  [image]="'../../../assets/araba4.png'" [hideOverlay]="true" > </mat-carousel-slide>
<mat-carousel-slide  [image]="'../../../assets/araba2.png'" [hideOverlay]="true" > </mat-carousel-slide>
<mat-carousel-slide  [image]="'../../../assets/araba.png'" [hideOverlay]="true" > </mat-carousel-slide>
<mat-carousel-slide  [image]="'../../../assets/araba3.png'" [hideOverlay]="true" > </mat-carousel-slide>
</mat-carousel>
<div class="hakkimizda">
    <h1>HAKKIMIZDA</h1>
    <p class="aciklama">
      <strong>  Yedekparcacim.com </strong> otomotiv satışı sonrası hizmet veren tüm paydaşları ve hizmet almak isteyen tüm tüketicileri aynı platformda buluşturan Türkiye’nin en büyük oto sanayi sitesidir. Üreticileri, toptancıları, perakendecileri ve servisleri işlev ve fayda ortaklığıyla müşterisi ile buluşturan, hizmet ya da ürün satın almak isteyen paydaşlarımızı da en çok ürüne, en gelişmiş sistemlerle ve en uygun fiyat avantajlarıyla ulaştıran online bir pazar yeridir.
        2008 yılı itibariyle yedek parça sektörüne yenilik katmak adına internet üzerinden güvenli bir şekilde aracınız için gerekli yedek parçaların gönderimini sağlamak adına kurulmuş olan onlineyedekparca.com 3 şubesi ile sizlere hizmet vermektedir. Gerçek stok ve uygun fiyat prensipleriyle günden güne araç markalarını ve ürün yelpazesini genişleterek siz değerli müşterilerine hizmet vermeyi ilke edinmiştir.
        3 yılı aşkın yoğun bir çalışmanın ardından Ekim 2017 tarihinde "kurumsal parça tedariğinin" lider adresi olma hedefiyle hayata geçti. Bir Borusan kuruluşu olan ParçaPazarı.com, otomotiv yedek parça sektöründe zengin ürün çeşitliliğiyle ve getirdiği yenilikler ile dikkat çekiyor.

        Otomotiv endüstrisinde on binlerce üründe farklı tedarikçi ve markaların karşılaştırılabildiği yenilikçi yapısı ile internetten yedek parça tedariği alanında getirdiği kolaylıklar ile fark yaratıyor.
        
      Borusan güvencesi ve müşteri odaklı yaklaşımıyla sipariş öncesi ve sonrası süreçlerde müşterilerinin yanında.
    </p>
</div>